.car_component {
    width: 300px;
    background-color: ivory;
    border: 1px solid khaki;
    padding: 5px;
}

.car_name {
    color: slategrey;
    font-size: 18px;
}

.car_image {
    margin-left: 50px;
    margin-top: 8px;
    margin-bottom: 8px;
}

.car_price {
    color: yellowgreen;
    font-size: 16px;
}

.car_mileage {
    color: crimson;
}

.car_engine {
    color: darkolivegreen;
}